@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: 'Pretendard', sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.main-container {
  width: 375px;
  background: #D0EDFD;
  padding: 40px 25px;
  border-radius: 20px;
  position: relative;
}

/* 상단 물음표 */
.emoji {
  font-size: 42px;
  color: #555;
  transform: rotate(-10deg);
  margin-bottom: 20px;
}

/* 제목 */
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.35;
  margin-bottom: 10px;
  color: #000;
}

.title span {
  color: #4E7A2F;
}


/* 부제 */
.subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #555252;
  margin-bottom: 50px;
}

/* button style */
.level-btn {
    width: 90%;
    padding: 20px;
    border-radius: 40px;
    font-size: 26px;
    font-weight: 600;
    border: 2px solid #B5D272;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 18px auto;  /* ⭐ 여기가 핵심 */
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;   /* ⭐ 밑줄 제거 */
  color: inherit;   
    
  }
  

  
  

.level-btn:hover {
  background: #eef8d7;
  transform: scale(1.02);
}
