/* 공통 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #D0EDFD;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  display: flex;
  justify-content: center;   /* 화면 가운데로 */
}

/* 문제/결과 공통 컨테이너 */
.quiz-page {
  width: 100%;
  max-width: 430px;          /* 아이폰 기준 너비 제한 */
  min-height: 100vh;         /* 화면 꽉 채우기 */
  padding: 40px 20px;
  background: #D0EDFD;

  display: flex;
  flex-direction: column;
  align-items: center;       /* ⭐ 가로 중앙 정렬 */
}

/* 상단 진행 점 */
.progress {
  margin: 20px auto 30px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.dot {
  width: 20px;
  height: 20px;
  background: #D9D9D9;
  border-radius: 50%;
}

.activeDot {
  background: #75AB48;
}

/* 제목 */
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
}

/* 문제 박스 */
.questionBox {
  width: 90%;
  max-width: 350px;          /* 하얀 박스 실제 크기 */
  background: #ffffff;
  border-radius: 25px;
  margin: 20px auto 0;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.qLabel {
  font-size: 1.5rem;
  font-weight: bold;
}

.word {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 10px;
}

.desc {
  margin-top: 15px;
  font-size: 1.2rem;
}

/* 보기 버튼 */
.btn {
  width: 100%;
  max-width: 300px;
  padding: 16px;
  font-size: 1.3rem;
  border: none;
  border-radius: 40px;
  background: #e9e9e9;
  margin: 18px auto 0;
  cursor: pointer;
  display: block;
}

.btn:hover {
  background: #dedede;
}

/* 결과 화면 */
.result-title {
  margin-top: 40px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.score-box {
  width: 70%;
  max-width: 280px;
  height: 90px;
  background: white;
  border-radius: 30px;
  margin: 30px auto;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/* 처음으로 버튼 */
.restart {
  width: 75%;
  max-width: 330px;
  padding: 18px;
  margin: 40px auto 0;
  color: white;
  font-size: 1.4rem;
  background: #75AB48;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  display: block;
}

.restart:hover {
  background: #5e8c39;
}

/* 정답/오답 효과 */
.correct {
  background: #B7EFC1;
  border: 2px solid #4CAF50;
  transition: 0.3s;
}

.wrong {
  background: #FFBDBD;
  border: 5px solid #D9534F;
  transition: 0.3s;
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}
