body {
    margin: 0;
    background: #D0EDFD;
    font-family: 'Apple SD Gothic Neo', sans-serif;
  }
  
  .quiz-page {
    width: 375px;
    height: 812px;
    margin: auto;
    position: relative;
  }
  
  .title {
    position: absolute;
    top: 156px;
    left: 27px;
    width: 293px;
    font-weight: 600;
    font-size: 30px;
  }
  
  .questionBox {
    position: absolute;
    width: 345px;
    height: 435px;
    left: 15px;
    top: 248px;
    background: #ffffff;
    border-radius: 29px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 40px;
  }
  
  .progress {
    position: absolute;
    top: 81px;
    left: 100px;
    display: flex;
    gap: 10px;
  }
  
  .dot {
    width: 26px;
    height: 26px;
    background: #D9D9D9;
    border-radius: 50%;
  }
  
  .activeDot {
    background: #75AB48;
  }
  
  .qLabel {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .word {
    font-size: 40px;
    font-weight: bold;
  }
  
  .desc {
    margin-top: 15px;
    font-size: 22px;
  }
  
  .btn {
    width: 80%;
    height: 55px;
    background: #E9E9E9;
    border: none;
    border-radius: 40px;
    font-size: 23px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #dedede;
  }
  
  .result-title {
    margin-top: 180px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  
  .score-box {
    width: 200px;
    height: 90px;
    background: white;
    border-radius: 30px;
    margin: 40px auto;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .comment {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
  
  .restart {
    width: 70%;
    height: 55px;
    margin-top: 40px;
    border: none;
    background: #75AB48;
    color: white;
    font-size: 22px;
    border-radius: 40px;
    cursor: pointer;
    display: block;   /* ⭐ 이거 추가! */
    margin: 40px auto 0;  /
  }
  .restart:hover {
    background: #5e8c39;
  }
  