
body {
  background: #D0EDFD;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}


.quiz-page {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  background: #D0EDFD;
  padding: 40px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   /* ⭐ 가운데 정확히 배치 */
}


.progress {
  margin: 40px auto;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.dot {
  width: 20px;
  height: 20px;
  background: #D9D9D9;
  border-radius: 50%;
}

.activeDot {
  background: #75AB48;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 20px;
}

.questionBox {
  width: 90%;       /* ⭐ 화면에 맞게 반응형 */
  max-width: 350px; /* ⭐ 크기 제한 */
  background: #ffffff;
  border-radius: 25px;
  margin: 35px auto;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}


.qLabel {
  font-size: 1.5rem;
  font-weight: bold;
}

.word {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 10px;
}

.desc {
  margin-top: 15px;
  font-size: 1.2rem;
}

.btn {
  width: 100%;
  max-width: 320px;
  padding: 16px;
  font-size: 1.3rem;
  border: none;
  border-radius: 40px;
  background: #e9e9e9;
  margin-top: 20px;
  cursor: pointer;
}
.btn:hover {
  background: #dedede;
}

.result-title {
  margin-top: 140px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.score-box {
  width: 60%;
  max-width: 300px;
  height: 90px;
  background: white;
  border-radius: 30px;
  margin: 40px auto;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.restart {
  width: 75%;
  max-width: 330px;
  padding: 18px;
  margin: 40px auto 0;
  color: white;
  font-size: 1.4rem;
  background: #75AB48;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  display: block;
}
.restart:hover {
  background: #5e8c39;
}

.correct {
  background: #B7EFC1;
  border: 2px solid #4CAF50;
  transition: 0.3s;
}

.wrong {
  background: #FFBDBD;
  border: 5px solid #D9534F;
  transition: 0.3s;
}

/* 클릭 후 다른 버튼 비활성화 효과(optional) */
.btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}
